---
http_interactions:
- request:
    method: get
    uri: https://www.customerstatus.com/fosdickapi/shipments.json?per_page=3&shipped_on_min=2010-02-24T12%3A17%3A09-05%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q0xJRU5UVEVTVDpURVNUUFcyMjQxNQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"fosdick_order_num":"99901201506460010","external_order_num":"9991013","ship_date":"2015-02-06","trackings":[{"tracking_num":"9274899998944526831798","carrier_code":"92","carrier_name":"FEDEX
        SMART POST"}]},{"fosdick_order_num":"99901201506460009","external_order_num":"9991012","ship_date":"2015-02-06","trackings":[{"tracking_num":"9274899998944526833273","carrier_code":"92","carrier_name":"FEDEX
        SMART POST"}]},{"fosdick_order_num":"99901201506460008","external_order_num":"9991011","ship_date":"2015-02-06","trackings":[{"tracking_num":"9274899998944526831996","carrier_code":"92","carrier_name":"FEDEX
        SMART POST"}]}]'
  recorded_at: Mon, 21 Dec 2015 22:59:00 GMT
recorded_with: VCR 3.0.1
