---
http_interactions:
- request:
    method: get
    uri: https://cs.fosdickcorp.com/fosdickapi/returns.json?per_page=3&updated_at_min=2015-02-24T12%3A17%3A09-05%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q0xJRU5UVEVTVDpURVNUUFcyMjQxNQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"fosdick_order_num":"99904201435221005","external_order_num":"986918","sku":"92432","line_item":3,"external_line_item":null,"return_date":"2014-09-16","quantity_returned":1,"quality":0,"reason_code":"4","reason_description":"No
        Longer Wanted","action_requested":"Refund","updated_at":"2015-02-24T12:26:33.817-05:00"},{"fosdick_order_num":"99904201435129010","external_order_num":"986700","sku":"91132","line_item":1,"external_line_item":null,"return_date":"2014-09-16","quantity_returned":1,"quality":2,"reason_code":"4","reason_description":"No
        Longer Wanted","action_requested":"Refund","updated_at":"2015-02-24T12:26:20.473-05:00"},{"fosdick_order_num":"99904201435124087","external_order_num":"986602","sku":"91532","line_item":4,"external_line_item":null,"return_date":"2014-09-16","quantity_returned":1,"quality":2,"reason_code":"4","reason_description":"No
        Longer Wanted","action_requested":"Refund","updated_at":"2015-02-24T12:26:02.973-05:00"}]'
  recorded_at: Tue, 22 Dec 2015 23:04:41 GMT
recorded_with: VCR 3.0.1
