---
http_interactions:
- request:
    method: get
    uri: https://www.customerstatus.com/fosdickapi/inventory.json?page=2&per_page=1&returned_at_min=2015-02-24T12%3A17%3A09-05%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q0xJRU5UVEVTVDpURVNUUFcyMjQxNQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"sku":"20PAC1502","available":false,"ct_quantity":0,"nv_quantity":0,"other_quantity":0,"committed":21,"available_quantity":-21,"updated_at":"2015-02-24T12:16:45.083-05:00"}]'
  recorded_at: Mon, 21 Dec 2015 21:44:18 GMT
recorded_with: VCR 3.0.1
