---
http_interactions:
- request:
    method: get
    uri: https://cs.fosdickcorp.com/fosdickapi/receipts.json?per_page=3&updated_at_min=2017-05-01T00%3A00%3A00%2B00%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TEFVTkNIS0lEUzUxOTpUc3BsMWFXMg==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"date_time":"2017-06-06T10:19:10-04:00","warehouse":"CT","receiver_num":100490,"container_num":null,"po_num":"300040","carrier_name":null,"sku":"5245-214-C","description_product":null,"qty":4,"num_of_floor_loaded":null,"num_of_skids":null,"num_of_cartons":null,"updated_at":"2017-06-06T10:20:02.383-04:00"},{"date_time":"2017-06-06T10:19:10-04:00","warehouse":"CT","receiver_num":100490,"container_num":null,"po_num":"300040","carrier_name":null,"sku":"5245-214-D","description_product":null,"qty":5,"num_of_floor_loaded":null,"num_of_skids":null,"num_of_cartons":null,"updated_at":"2017-06-06T10:20:02.383-04:00"},{"date_time":"2017-06-06T10:19:10-04:00","warehouse":"CT","receiver_num":100490,"container_num":null,"po_num":"300040","carrier_name":null,"sku":"5245-214-E","description_product":null,"qty":5,"num_of_floor_loaded":null,"num_of_skids":null,"num_of_cartons":null,"updated_at":"2017-06-06T10:20:02.383-04:00"}]'
  recorded_at: Thu, 08 Jun 2017 21:54:43 GMT
recorded_with: VCR 3.0.3
