---
http_interactions:
- request:
    method: get
    uri: https://www.customerstatus.com/fosdickapi/inventory.json?updated_at_min=2015-02-24T12%3A17%3A09-05%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q0xJRU5UVEVTVDpURVNUUFcyMjQxNQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"sku":"20PACC002","available":false,"ct_quantity":0,"nv_quantity":0,"other_quantity":0,"committed":0,"available_quantity":0,"updated_at":"2015-02-24T12:17:29.477-05:00"},{"sku":"20PACC001","available":false,"ct_quantity":0,"nv_quantity":0,"other_quantity":0,"committed":1,"available_quantity":-1,"updated_at":"2015-02-24T12:17:09.613-05:00"}]'
  recorded_at: Mon, 21 Dec 2015 22:37:57 GMT
recorded_with: VCR 3.0.1
