---
http_interactions:
- request:
    method: post
    uri: https://cs.fosdickcorp.com/fosdickapi/purchaseorder.json
    body:
      encoding: UTF-8
      string: '{"po_num":"100002","line_num":1,"item":"1006A-301-B","description":"pocket
        tee","class_code":"RI","qty":41,"warehouse":"CT","expected_delivery":"2016-06-15","po_date":null,"vendor":null,"shipper":null,"upc":null,"cogs":null,"country_of_origin":null,"weight":null,"width":null,"height":null,"length":null,"custom1":"BOYS","custom2":"PACIFIC","custom3":"2/3"}'
    headers:
      Authorization:
      - Basic TEFVTkNIS0lEUzUxOTpUc3BsMWFXMg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":"Purchase Order Received"}'
  recorded_at: Wed, 18 May 2016 17:40:58 GMT
recorded_with: VCR 3.0.1
