---
http_interactions:
- request:
    method: post
    uri: https://www.customerstatus.com/fosdickapi/purchaseorder.json
    body:
      encoding: UTF-8
      string: '{"po_num":"100002","line_num":1,"item":"1006A-301-B","description":"pocket
        tee","class_code":"RI","qty":null,"warehouse":"CT","expected_delivery":"2016-06-15"}'
    headers:
      Authorization:
      - Basic TEFVTkNIS0lEUzUxOTpUc3BsMWFXMg==
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":"qty must be provided"}'
  recorded_at: Tue, 17 May 2016 21:30:44 GMT
recorded_with: VCR 3.0.1
