---
http_interactions:
- request:
    method: get
    uri: https://cs.fosdickcorp.com/fosdickapi/inventory.json?page=2&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q0xJRU5UVEVTVDpURVNUUFcyMjQxNQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"sku":"001PRI","available":false,"ct_quantity":0,"nv_quantity":0,"other_quantity":0,"committed":0,"available_quantity":0,"updated_at":"2015-02-24T12:15:13.423-05:00"},{"sku":"001FEDEX","available":false,"ct_quantity":0,"nv_quantity":0,"other_quantity":0,"committed":0,"available_quantity":0,"updated_at":"2015-02-24T12:14:46.313-05:00"},{"sku":"#BOX3","available":true,"ct_quantity":25,"nv_quantity":0,"other_quantity":0,"committed":0,"available_quantity":25,"updated_at":"2015-02-24T12:14:15.19-05:00"}]'
  recorded_at: Mon, 21 Dec 2015 22:37:57 GMT
recorded_with: VCR 3.0.1
