---
http_interactions:
- request:
    method: get
    uri: https://cs.fosdickcorp.com/fosdickapi/inventory.json?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q0xJRU5UVEVTVDpURVNUUFcyMjQxNQ==
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"sku":"20PACC002","available":false,"ct_quantity":0,"nv_quantity":0,"other_quantity":0,"committed":0,"available_quantity":0,"updated_at":"2015-02-24T12:17:29.477-05:00"}]'
  recorded_at: Tue, 22 Dec 2015 22:50:18 GMT
[...]
- request:
    method: get
    uri: https://cs.fosdickcorp.com/fosdickapi/inventory.json?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q0xJRU5UVEVTVDpURVNUUFcyMjQxNQ==
  response:
    status:
      code: 429
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Call limit exceeded"}'
  recorded_at: Tue, 22 Dec 2015 22:50:28 GMT
recorded_with: VCR 3.0.1
